.sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 76px;
  background-color: white;
  z-index: 200;
}

.sidebar-box{
  height: 74px;
  text-align: center;
  cursor: pointer;
}

.sidebar-box:hover{
  background-color: rgb(233, 233, 233);
}

.img{
  padding-top: 22px;
  width: 24px;
  height: 24px;
}

.text{
  font-family: Roboto, arial;
  font-size: 10px;
}


